<section class="content" role="main">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search for a movie</mat-label>
    <input matInput class="form-control"
           [ngModel]="searchQuery"
           (ngModelChange)="searchQuery = $event ; searchMovie($event)"
           placeholder="Enter movie name...">
    <mat-icon matSuffix>youtube_searched_for</mat-icon>
  </mat-form-field>

  <div class="container">
    <mat-card *ngFor="let movie of Movies.results" style="padding: 0; height: 280px">
      <mat-grid-list cols="5" rowHeight="280px" class="fade-in">
        <mat-grid-tile colspan="2">
          <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="movie-poster" alt="{{movie.title}}"/>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-card-content style="top:0; position: absolute; padding: 10px">
            <mat-card-header>
              <div mat-card-avatar class="outer_ring">
                <mat-progress-spinner
                  diameter="40"
                  [ngClass]="movie.vote_average*10>70 ? 'high-rate' : 'low-rate'"
                  mode="determinate"
                  [value]="movie.vote_average*10">
                </mat-progress-spinner>
                <div class="circle-content" style="width: 40px;height:65px;">
                  <small *ngIf=" movie.vote_average>0">{{ movie.vote_average * 10 }}<sup>%</sup></small>
                  <h4 *ngIf=" movie.vote_average<=0">NR</h4>
                </div>
              </div>
              <mat-card-title>
                <a mat-button routerLink="/movie-details/{{movie.id}}" class="movie-title">{{movie.title}}</a>
              </mat-card-title>
              <mat-card-subtitle><i>{{movie.release_date|dateFormat}}</i></mat-card-subtitle>
            </mat-card-header>
            <div class="description">
              {{movie.overview}}
            </div>
          </mat-card-content>
          <div class="more-info">
            <a mat-button routerLink="/movie-details/{{movie.id}}">More info</a>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <mat-card *ngIf="noResult">
      <mat-card-content>
        <mat-card-header>
          <h2>No movies found...</h2>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
  </div>
</section>
